h1 {
	color: darkblue;
	font-size: 60px;
}

body {
	background-color: lightblue;
}

#demo {
	color: red;
	font-size: 40px
}

.center{
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
}
